<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue experience</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="nav-bar"></div>
    <div id="app">
        <div class="product">

            <div class="product-image">
                <img :src="image" />
            </div>
            <div class="product-info">
                <h1 v-text="title"></h1>
                <p>{{ description }}</p>
                <span v-if="inStock">In Stock</span>
                <span v-else class="outOfStock">Out of Stock</span>
                <div v-for="product in productVariants" class="color-box" :style="{backgroundColor: product.color}"
                    :key="product.colorId" @mouseover="changeImage(product.image)"></div>
                <ul v-for="size in sizes">
                    <li v-text="size"></li>
                </ul>
            </div>
        </div>
        <button v-on:click="incrementCart" :class="{ disabledButton : !inStock }" :disabled="!inStock">Add to Cart</button>
        <div class="product">
            <div class="cart">
                <p>Cart({{cart}})</p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>